{% extends 'base.html.twig' %}

{% block title %}Article{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Article</h1>
    <p>Cet article vient d'être créé</p>
    <p>Nom : {{ nom }}</p>
    <p>Prix : {{ prix }}</p>
    <p>Date d'expiration : {{ dateExpiration }}</p>
</div>
{% endblock %}
